/* vista login */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
    .title {
      text-align: center;
       color: #fff;
      font-family: 'Roboto', sans-serif; 
    }
    
    .title h4 {
      font-size: 48px;
      margin-bottom: 25x;
      font-weight: 700;
    } 
    
     
    .align{
       text-align: center;
    }
  
    .tab-menu-holder {
      background:  #c71f16;
      width: 100%;
      position: fixed;
       bottom: 0;
      left: 0;
      color: #fff;
      padding: 10px;
       z-index: 9999999;
    }
.tab-menu-holder  ul {
  text-align: center;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.tab-menu-holder   li {
  list-style: none;
  display: inline;
  padding: 10px 15px;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}


nav .nav-wrapper {
  z-index: 90000;
  position: fixed;
  width: 100vh;
  height: 10%;
  background-color: #c71f16;
}

      
    /* Chat */
  
.user-img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

.tab-menu-holder-2 .z-depth-2 {
 margin-top: -20px;
}
.chat {
  margin-top: -20vh;
  margin-left: 3vh;
  margin-right: 3vh;
  padding-bottom: 12vh;
  color: black;
}
  
.white2 {
  font-size: 1.2em;
  padding: 2vh;
  background-color: rgb(255, 255, 255);
}
  
.flex-container {
  display: flex;
  flex-direction: column-reverse;
}
.white {
  color: rgb(0, 0, 0);
  width: 100%;
  background-color: white;
}
  
.tab-menu-holder-2 {
  font-size: 18px;
  background: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(0, 0, 0);
  padding: 2vh;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
      width: 70%;
}

.btn-color {
    background-color:#c71f16;
}
  
.message-box {
  background-color: rgb(230, 230, 230);
  padding: 2vh;
  border-radius: 9px;
}
  
ul {
    text-decoration: none;
}
  
.img-user {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  background-color: #c71f16;
}
  
.box {
  margin-top: 1vh;
  margin-right: 5vh;
  margin-left: 5vh;
  margin-bottom: 6vh;
}
