/* ESTILOS GENERALES*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos del navbar superior */
.logo-principal {
	margin-top: 6px;
	width: 1.5em;
}

nav {
	position: fixed !important;
	width: 100%;
	z-index: 1000;
}

.input-newsfeed {
	margin-top: 8em;
}

/* Estilos del navbar inferior   */
.tab-menu-holder {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px;
	height: 56px;
	z-index: 9999999;
}

.tab-menu-holder  ul {
	text-align: center;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.tab-menu-holder   li {
	list-style: none;
	display: inline;
	padding: 10px 15px;
	margin: 0 10px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 20px;
}

.color-white{
	color: white;
}

.bkg-other-color{
	color: #3f393b;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;

}

.container-flex-column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2em;
}

#search{
	margin-left: 40px;
	width: 88%;
}

#title-nf{
	margin-top: 0px;
	margin-bottom: 0px;
}

.margin-top-80{
	margin-top: 80px;
}
/* FÍN DE ESTILOS GENERALES */



/* ESTILOS PARA LA VISTA NEWSFEED*/
.imgs-gallery{
	width: 100%;
}

#container-movie-3{
  margin-bottom: 60px;
}

/* Newsfeed */
#photo {
	width: 50px !important;;
	height: 50px !important;
	background-size: cover !important;
	border-radius: 50% !important;
}

#background-profile {
	background-color: #c71f16;
}

/* Estilos para el slider de videos */
.parallax-container {
	height: 270px;
}

.galery {
	margin-top: 4em;
	width: auto;
}

.video-responsive {
    position: relative;
    margin-bottom: 20px;
    padding-top: 56.25%;
}
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
