/* ESTILOS GENERALES*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos del navbar superior */
.logo-principal {
	margin-top: 6px;
	width: 1.5em;
}

/* Estilos del navbar inferior   */
.tab-menu-holder {
	background: #c71f16;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px;
	height: 56px;
	z-index: 9999999;
}

.tab-menu-holder  ul {
	text-align: center;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.tab-menu-holder   li {
	list-style: none;
	display: inline;
	padding: 10px 15px;
	margin: 0 10px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 20px;
}

.color-white{
	color: white;
}

.bkg-other-color{
	color: #3f393b;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;

}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}

#search{
	margin-left: 40px;
}

#title-nf{
	margin-top: 0px;
	margin-bottom: 0px;
}
/* FÍN DE ESTILOS GENERALES */



/* ESTILOS PARA LA VISTA NEWSFEED*/
.imgs-gallery{
	max-width: 100%;
}

/*FÍN DE ESTILOS NEWSPEED */

/* ESTILOS PARA LA VISTA WELCOME */
/* Container for skill bars */
.container {
	width: 100%; /* Full width */
	background-color: #ddd; /* Grey background */
}

.skills {
	text-align: right; /* Right-align text */
	padding-right: 20px; /* Add some right padding */
	line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
	color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */



video {
	width: 100%;
}* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* FIN ESTILOS  */