/* Estilos generales*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos para acomodar el video a responsive */
.contenedor{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 300px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}
.contenedor iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
}
/* Estilos para el titulo */
.ranked{
 text-align: center;
 font-size: 24px;
 margin-bottom: 3%;
 font-family: 'Pattaya', sans-serif;
}
/* Estilos para las barras de progress */
.podium{
 height: 28px;
 width: 290px;
 border-radius:18px;
 margin-bottom:28px;
 margin-left: 2%;
 box-shadow:8px 1px 8px rgb(49, 49, 49) inset,8px 1px 8px white;
}
.icon{
 color: rgb(0, 255, 85);
 font-size: 18px;
}
.bar{
    border-radius:5px;
    height: 19px;
    margin:1px 2px;
    position: absolute;
    box-shadow:8px 1px 8px white inset,8px 1px 8px rgb(49, 49, 49) ;
}
.user1{
  background-color: #D14736;
}

.user2{
  background-color: rgb(245, 129, 216);
}
.user3{
  background-color: rgb(243, 126, 105);
}

/* Estilos del texarea */

textarea{
  overflow:hidden;
}
.ranked-container{
  margin-bottom: 20%;
}
